ul{
    list-style-type: circle;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

li{
    text-align: left;
    margin: 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

#home {
    justify-content: center;
    flex-wrap: wrap;

}
nav{
    text-align: center;
    margin: auto;
    padding: 0;
}

h2{
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: 50px;
}
body{
    font-family: sans-serif, serif;
    background-color: #000000;
    background-image: url("../images/dark-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    color: #E0E0CE;
    min-height:100vh;
}
footer{
    text-align: center;
    text-wrap: normal;
    overflow: hidden;
    white-space: normal;
    padding-top: 2vh;
}
div {
    text-align: center;
    margin: auto;
    padding-bottom: 50px;

}
#contract{
    text-align: center;
    flex-wrap: wrap;
}
.contract{
    text-align: center;
    list-style-type: circle;
}
.img-center{
    max-width: 45%;
    max-height: 35%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    text-align: center;
    font-style: italic;
}
a:link{

    color: #1BC20F;
}
a:visited{
    color: hotpink;
}

main > p {
    text-align: center;
}
em{
    text-align: center;
    font-style: italic;
    white-space: pre;
    text-wrap: normal;
    padding-bottom: 2rem;
    margin-bottom: auto;
}