<h1>Ryan B. Breedlove ⚔ ITIS-3135</h1>
<nav>
    <a href="index.html">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="about.html">About</a>
    ||
    <a href="website_evaluations.html">Evaluations</a>
    ||
    <a href="tables.html">Employee Tables</a>
    ||
    <a href="byo_intro.html">Introduction Page</a>
    ||
    <a href="forms.html">Forms</a>
    ||
    <a href="slideshow.html">Slide Show</a>
    ||
    <a href="drawing.html">Draw</a>
</nav>
<nav>
    <a href="CR@PPY.html">CrApPy</a>
    ||
    <a href="hobby.html">Hobby</a>
    ||
    <a href="projectOverview.html">Client Overview</a>
    ||
    <a href="Client_Project/index.html">Client Project</a>
    ||
    <a href="review1.html">Peer Review 1</a>
    ||
    <a href="review2.html">Peer Review 2</a>

</nav>